.header {
  position: relative;
  height: 70px;
  background: rgba(255, 255, 255, 1);
  background: #0277bd;
  & > * {
    color: rgba(255, 255, 255, 1);
  }
  & > .wrapper {
    display: flex;
    & > .header-title:last-child {
      margin-left: 1rem;
    }
  }
}
.wrapper {
  width: Min(1200px, 100%);
  padding: 1rem;
  margin: 0 auto;
}
