.message-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: grey;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.message {
  width: Min(500px, 100%);
  min-height: 120px;
  display: flex;
  margin-bottom: 1.2rem;
  padding: 1rem;
  background: #eceff1;
  border-radius: 20px;
  border: 1px solid #cfd8dc;
  &-info {
    margin-left: 10px;
  }
  &-user-name {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &-time {
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin-left: auto;
    white-space: nowrap;
  }
}
